/* board */

.board {
  &:not(:root) {
  }

  & &__items {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px;
  }

  & &__item {
    align-items: center;
    background-color: green;
    border: 1px solid black;
    display: flex;
    font-size: 40px;
    justify-content: center;
    list-style: none;
  }
}
