/* board */

.board {
  &:not(:root) {
    align-items: center;
    color: #000;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
  }

  & &__items {
    display: grid;
    grid-template-columns: 40px 40px 40px 40px 40px 40px 40px 40px;
    grid-template-rows: 40px 40px 40px 40px 40px 40px 40px 40px;
  }

  & &__item {
    align-items: center;
    background-color: green;
    border: 1px solid black;
    display: flex;
    font-size: 40px;
    justify-content: center;
    list-style: none;
  }
}
